  body {
    background-color: #edf2c5;
    box-sizing: border-box;
  }
  .container{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo_Vegetables {
    width: 271px;
    height: 42px;
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.82;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
    margin: 0px;
    padding: 0px;
    
  }
  .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    position: relative;
  }
  .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 6px;
  }
  .FB_Icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  .IG_Icon {
    width: 25px;
    height: 25px;
    margin-left: 5px;
  }
  .LOGIN_TEXT{
    background-color: #EDF2C5;
    border-radius: 3px;
    border: solid 1px #778a50;
    color: #778a50;
    font-family: "Arial Black", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    height: 25px;
    width: 60px;
    margin-right: 5px;
    padding-top: 3px;
    text-decoration: none;
  }
  .string{
    width: 1px;
    height: 25px;
    background-color: #778a50;
    margin-left: 10px;
    margin-right: 10px;
  }
  .JOIN_TEXT{
    background-color: #EDF2C5;
    border-radius: 3px;
    border: solid 1px #778a50;
    color: #778a50;
    font-family: "Arial Black", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    height: 25px;
    width: 50px;
    margin-right: 5px;
    padding-top: 3px;
    text-decoration: none;
  }

  .option_box {
    width: 940px;
    height: 44px;
    border-radius: 3px;
    background-color: #778a50;
    display: inline-flex;
    margin-top: 8px;
    
  }
  .option_box ul {
    display: flex;
    flex-direction: row;
    list-style-type:none;
    color: #edf2c5;
    margin: 0px;
    padding: 0px;
  }
  .Home {
    height: 0px;
    display: block;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 900;
    font-family: "Arial Black", sans-serif;
    color: #edf2c5;
  }
  .main{
    width: 940px;
    height: 448px;
    padding-top: 20px;
  }
  .info{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .vegeArea{
    width: 445px;
  }

  .box_vegetables {
    width: 445px;
    height: 45px;
    border-radius: 3px;
    background-color: #778a50;
    margin-right: 50px;
    justify-content: space-between;
  }
  .Vege_Text {
    margin: 0px;
    padding: 0px;

    border-radius: 3px;
    background-color: #778A50;

    padding: 15px 30px;
    font-family: "Arial Black", sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #edf2c5;
  }
  /*.vegeArea{
    
  }*/
  .veg_Pic{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  .Contact {
    width: 69px;
    height: 12px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    padding-left: 30px;
  }
  .box_contact {
    width: 445px;
  }
  .contact_text {
    margin: 0px;
    padding: 0px;

    border-radius: 3px;
    background-color: #778A50;

    padding: 15px 30px;
    font-family: "Arial Black", sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #edf2c5;
  }
  .text{
    height: 140px;
    margin-top: 15px;
    background-color: #f7fbda;
    padding-left: 15px;
    padding-right: 15px;
  }
   .For-any-questions {
    font-family: "ArialMT Regular", sans-serif;
    font-size: 12px;
    color: #7d7d7d;
    width: 410px;
    line-height: 1.33;
    padding-top: 13px;
  }
  .line{
    width: 414px;
    height: 1px;
    background-color: #7d7d7d;
  }
   .E-mail {
    width: 193px;
    height: 31px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
  }
  footer {
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #778a50;
    margin-top: 35px;
  }
  .Copyrights-2017{
    width: 302px;
    height: 11px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.5;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    margin-left: auto;
    margin-right: auto;
  }